@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-neutral-800 antialiased bg-neutral-50;
    font-size: 18px;
    line-height: 1.75rem;
  }
}
